/*
|   CSS Responsive Settings 2022 @DiegoDuenez
|   ---------------------------------------------------------------------------------
|   Global Reset
|   ---------------------------------------------------------------------------------
*/
* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

/*
|   ---------------------------------------------------------------------------------
|   Root & Base Styles
|   ---------------------------------------------------------------------------------
*/
:root {
   scroll-behavior: smooth;
}

html, body {
   width: 100%;
   position: relative;
   overflow-x: hidden;
}

/*
|   ---------------------------------------------------------------------------------
|   Section Handling
|   ---------------------------------------------------------------------------------
|   Prevent horizontal scrolling issues.
*/
body > section {
   overflow: hidden;
}
